@model AliveTableViewModel


<section class="alive-table" id="lives-table">
    @{
        Column("Life ID", Model.LifeIds, @<div class="row">@item.ToString("N")</div>);
    }
    @{
        Column("End of life", Model.LifeEnds, @<div class="row">@item</div>);
    }
    @{
        Column("Properties", Model.Properties,
            @<div class="row properties">
                @foreach (var (key, value) in item)
                {
                    <div class="property">
                        <span class="key">@key</span>: <span class="value">@value</span>
                    </div>
                }
             </div>);
    }
</section>

@functions
{
    void Column<T>(string title, AliveTableColumn<T> column, Func<T, object> renderValue)
    {
        <div class="column">
            <div class="head">@title</div>

            @foreach (var item in column)
            {
                @renderValue(item);
            }

            <div class="head">@title</div>
        </div>
    }
}