@page "{widgetId:guid?}"
@using LifeCounter.DataLayer.Db.Entity
@model LifeCounter.Site.Areas.Admin.Pages.Widgets.Item

<form method="post" asp-antiforgery="true" class="widget-form" asp-page-handler="">

    <label asp-for="Form.Title"></label>
    <input asp-for="Form.Title" autocomplete="off"/>
    @Html.ValidationMessageFor(e => e.Form.Title)

    <label asp-for="Form.PublicId"></label>
    <input asp-for="Form.PublicId"/>
    @Html.ValidationMessageFor(e => e.Form.PublicId)

    <label asp-for="Form.TransportType"></label>
    <select asp-for="Form.TransportType" asp-items="Html.GetEnumSelectList<TransportType>()"></select>
    @Html.ValidationMessageFor(e => e.Form.TransportType)

    <label asp-for="Form.Enabled"></label>
    <input asp-for="Form.Enabled"/>
    @Html.ValidationMessageFor(e => e.Form.Enabled)

    @if (Model.Widget != null)
    {
        <label>Created</label>
        <input disabled value="@Model.Widget?.CreatedDate">
        <span></span>
    }

    <div class="widget-form__buttons">
        <button type="submit" asp->Submit</button>
        @if (Model.Widget != null)
        {
            <button asp-page-handler="delete" type="submit">Delete</button>
        }
    </div>
</form>